/AssetBundles/
/Library/
/Logs/
/Packages/
/Temp/
/UserSettings/
/build.log
/Assets/PolarisMapNoCameraFade.shader
/Assets/*.meta
/Assets/Editor/*.meta
/ProjectSettings/*
!/ProjectSettings/ProjectVersion.txt
